@font-face {
  font-family: "Mathanifo Script";
  src: url(../fonts/Mathanifo_Script.ttf);
}
@font-face {
  font-family: "Archer Semibold";
  src: url(../fonts/Archer_Semibold.otf);
}
@font-face {
  font-family: "Archer Bold";
  src: url(../fonts/Archer_Bold.otf);
}
@font-face {
  font-family: "Archer Book";
  src: url(../fonts/Archer_Book.otf);
}
@font-face {
  font-family: "Archer Book Italic";
  src: url(../fonts/Archer_Book_Italic.otf);
}
@font-face {
  font-family: "Archer Light";
  src: url(../fonts/Archer_Light.otf);
}
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #fff0c2;
}

.content-wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Mathanifo Script';
  color: #7a5246;
}

h4, p {
  font-family: 'Archer Semibold';
  color: #f26d75;
}

.date {
  font-family: 'Archer Light';
  color: #f26d75;
}

.month, .year, .address p {
  font-family: 'Archer Book Italic';
  color: #7a5246;
}
