@font-face {
  font-family: "Mathanifo Script";
  src: url(../fonts/Mathanifo_Script.ttf);
}
@font-face {
  font-family: "Archer Semibold";
  src: url(../fonts/Archer_Semibold.otf);
}
@font-face {
  font-family: "Archer Bold";
  src: url(../fonts/Archer_Bold.otf);
}
@font-face {
  font-family: "Archer Book";
  src: url(../fonts/Archer_Book.otf);
}
@font-face {
  font-family: "Archer Book Italic";
  src: url(../fonts/Archer_Book_Italic.otf);
}
@font-face {
  font-family: "Archer Light";
  src: url(../fonts/Archer_Light.otf);
}
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #fff0c2;
}

.content-wrapper {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.intro {
  min-height: 100vh;
}

.intro, .details, .end-note {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
}
.intro > *, .details > *, .end-note > * {
  flex: 1 100%;
}

.wedlock, .rel-status, h3 {
  font-family: 'Mathanifo Script';
  color: #7a5246;
}

h4, p {
  font-family: 'Archer Semibold';
  color: #f26d75;
}

h5 {
  font-family: 'Archer Light';
  color: #f26d75;
}

.wedlock {
  font-size: 80px;
  line-height: 1;
  align-self: flex-end;
}

.rel-status {
  font-size: 50px;
  line-height: 1;
  margin: 10px 0;
}
.rel-status .status {
  font-size: 80px;
}

h3 {
  font-size: 40px;
}

h5 {
  font-size: 19px;
}

.details .heading {
  line-height: 1;
}
.details .heading h5 {
  margin: 20px 0;
}
.details .event, .details .event-date {
  margin: 20px 0;
}

.date {
  font-family: 'Archer Light';
  font-size: 80px;
  color: #f26d75;
  border-right: 1px dotted #7b7361;
  padding-right: 15px;
}

.date, .month-year {
  display: inline-block;
}

.month-year {
  text-align: left;
  padding-left: 15px;
}
.month-year .month, .month-year .year {
  font-family: 'Archer Book Italic';
  color: #7a5246;
}
.month-year .month {
  font-size: 22px;
}
.month-year .year {
  font-size: 37px;
}

.timing {
  font-size: 19px;
}
.timing .meridiem, .timing .to {
  font-family: 'Archer Book Italic';
  font-size: 18px;
}
.timing .to {
  color: #7a5246;
}

.place {
  margin: 20px 0 10px;
  font-size: 20px;
}

.address p {
  font-family: 'Archer Book Italic';
  font-size: 18px;
  color: #7a5246;
}

@media all and (min-width: 991px) {
  .wedlock > * {
    display: inline-block;
    margin: 20px 0;
  }

  .details .event {
    flex: 1 auto;
    padding: 20px 0;
  }
  .details .event + .event {
    border-left: 1px dotted #bdb192;
  }
}
